body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ask{
    font-size: 120px;
    font-family: 'Modak', system-ui;
    color: wheat;
    font-weight: 400;
    text-shadow: 5px black;
    display: flex;
}
@media screen and (min-width: 414px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #ask{
        font-size: 20px;
        font-family: 'Modak', system-ui;
        color: wheat;
        font-weight: 400;
        text-shadow: 5px black;
        display: flex;
    }
}